* {
    margin: 0;
    padding: 0;
}

@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    font-family: cambria;
    box-sizing: border-box;
}

li {
    list-style: none;
}


section {
    width: 100%;
    padding: 50px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto ;
    @include MQ(560px) {
        padding: 0 40px;
    }
}

h2 {
    font-family: 'Londrina Solid', cursive;
    padding: 25px 0;
    margin: 0 0;
    color: #f2a278;
    text-align: center;
    font-size: 30px;
    max-width: 240px;
    position: relative;
  }
  
h2:before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #f2a278;
    left: 0;
    top: 50%;
    position: absolute;

  
  }
h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #f2a278;
    right: 0;
    top: 50%;
    position: absolute;
  }
